.rainbow {
	position: relative;
	z-index: 0;
	width: fit-content;
    height: fit-content;

	border-radius: 10px;
	overflow: hidden;
	padding: .5rem 1rem;
    cursor: pointer;
	
	&::before {
		content: '';
		position: absolute;
		z-index: -2;
		left: -50%;
		top: -50%;
		width: 200%;
		height: 200%;
		background-color: #002549;
		background-repeat: no-repeat;
		background-size: 50% 50%, 50% 50%;
		background-position: 0 0, 100% 0, 100% 100%, 0 100%;
		background-image: linear-gradient(#002549, #002549), linear-gradient(#004E87, #004E87), linear-gradient(#257098, #257098), linear-gradient(#377af5, #377af5);
		animation: rotate 4s linear infinite;
	}
	
	&::after {
		content: '';
		position: absolute;
		z-index: -1;
		left: 6px;
		top: 6px;
		width: calc(100% - 12px);
		height: calc(100% - 12px);
		background: white;
		border-radius: 5px;
        box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.205);
		animation: opacityChange 3s infinite alternate;
	}
}