.customNav{
    a{
        transition: 250ms ease-out;
        font-weight: bold;
        &:hover{
            transition: 250ms ease-in;
            background-color: #002549;
            
            color: white !important;
            padding:5px 10px ;
            border-radius: 5px;

        }
    }

}
.cardHover{
    transition: 250ms ease-out;
    &:hover{
        transition: 250ms ease-in;
        transform: scale(1.2);
        box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.39) !important;
    }
}
